@import url(./__caption/lead__caption.css);
@import url(./__map/lead__map.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__title/lead_title.css);



.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 984px;
  margin: auto;
}
